a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

.gameCard {
    max-width: 300px;
    height: 360px;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0 gray;
    margin: auto;
    background-color: white;
    margin-block-end: 2rem;
}

.gameCard:hover {
    transform: scale(1.1);
    animation: shadow-rgb 3s linear 0s infinite;
}

.gameCard-header {
    display: flex;
    border-block-end: 5px solid;
    height: 100px;
}

#gameCard-button-favorite {
    border-radius: 0 30px 0 0;
    background-color: transparent;
    border: transparent;
}

.gameCard-title {
    color: black;
    margin: auto;
    font-size: larger;
}

.gameCard-footer {
    border-top: 5px solid;
    border-radius: 0 30px;
    display: flex;
    height: 50px;
}

#timestamp {
    color: black;
    margin: auto auto auto 1em;
    padding: auto;
}

#note {
    margin: auto 0;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: lightgreen;
}

@keyframes shadow-rgb {
    0% {
        border-color: red;
    }
    17% {
        border-color: yellow;
    }
    33%{
        border-color: green;
    }
    50%{
        border-color: cyan;
    }
    66% {
        border-color: blue;
    }
    83%{
        border-color: magenta;
    }
    100% {
        border-color: red;
    }
}