h1, h3{ 
    text-align: center;
}

.card {
    width: 300px;
    height: 300px;
    background: linear-gradient(#fff, #00ff00);
}

.cards {
    display: inline-flex;
}

img {
    width: 300px;
    height: 200px;
}

.pageContent {
    margin: 0%;
}


.card-body > ul {
    position: absolute;
    bottom: 10px;
}

.card-title {
    width: 300px;
    height: 40px;
    position: absolute;
    bottom: 50px;
}

.fav {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    visibility: visible;
}

.card-body > button {
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: hidden;
}

.card-body > ul {
    width: 301px;
    position: absolute;
    left: -1px;
    bottom: 0px;
}

.card-body > ul > li {
    background: linear-gradient(#0f0, #fff);
}

.list-group-item {
    background-color: none;
}