body {
    color: white;
}

header {
    border-bottom: 10px dotted;
    background-color: white;
    position: sticky;
    top: 0px;
    animation: border-rgb 10s linear 0s infinite;
}

header ul {
    display: flex;
}

header li {
    margin: auto;
}

div#title {
    display: flex;
    padding: 40px 0 40px 0;
    border-block-end: 5px solid;
}

div#title h1 {
    margin: auto;
}

div#title .name {
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: wavy
}

div#title .note {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: lightgreen;
}

div#presentation {
   padding: 40px 0 40px 0;
    border-block-end: 5px solid;
}

div#presentation div#video {
    display: flex;
}

div#video video {
    margin: auto;
    width: 75%;
    height: 100%;
    
    border: 8px solid;
    border-radius: 50px;
    animation: border-rgb 8s linear 0s infinite;
}

div#video img {
    margin: auto;
    width: 75%;
    height: 100%;
    
    border: 8px solid;
    border-radius: 50px;
    animation: border-rgb 8s linear 0s infinite;
}

div#description {
    padding: 40px 0 40px 0;
    border-block-end: 5px solid;
}

div#screenshots {
    padding: 40px 0 40px 0;
    border-block-end: 5px solid;
}

div#screenshots img {
    margin: 9px;
    
    width: 300px;
    height: 200px;
    
    border-radius: 15px;
}

.screenshot:hover {
    transform: scale(1.5);
 }

div#plateformes {
    padding: 40px 0 40px 0;
    border-block-end: 5px solid;
}

div#plateformes ul {
    display: flex;
}

div#plateformes li {
    list-style: none;
    margin: auto;
    
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 5px;
    
    animation: background-rgb 6s linear 0s infinite;
    color: white;
}

div#genres {
    padding: 40px 0 40px 0;
    border-block-end: 5px solid;
}

div#genres ul {
    display: flex;
}

div#genres li {
    list-style: none;
    margin: auto;
    
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 5px;
    
    animation: background-rgb 6s linear 0s infinite;
    color: white;
}

#gameCard-button-favorite {
    background-color: transparent;
    border: transparent;

    position: fixed;
    right: 1%;
    bottom: 1rem;
}

@keyframes border-rgb {
    0% {
        border-color: red;
    }
    17% {
        border-color: yellow;
    }
    33%{
        border-color: green;
    }
    50%{
        border-color: cyan;
    }
    66% {
        border-color: blue;
    }
    83%{
        border-color: magenta;
    }
    100% {
        border-color: red;
    }
}

@keyframes background-rgb {
    0% {
        background-color: red;
    }
    17% {
        background-color: yellow;
    }
    33%{
        background-color: green;
    }
    50%{
        background-color: cyan;
    }
    66% {
        background-color: blue;
    }
    83%{
        background-color: magenta;
    }
    100% {
        background-color: red;
    }
}
